USE [master]
GO
/****** Object:  Database [BKCAD_SinhVien]    Script Date: 8/28/2023 9:09:38 PM ******/
CREATE DATABASE [BKCAD_SinhVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BKCAD_SinhVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BKCAD_SinhVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BKCAD_SinhVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BKCAD_SinhVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BKCAD_SinhVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BKCAD_SinhVien]
GO
/****** Object:  Table [dbo].[HocVien]    Script Date: 8/28/2023 9:09:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocVien](
	[MaHV] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](30) NOT NULL,
	[Tuoi] [int] NOT NULL,
	[DiaChi] [nvarchar](30) NOT NULL,
	[GioiTinh] [nvarchar](30) NOT NULL,
	[Info] [nvarchar](30) NOT NULL,
	[English] [nvarchar](30) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
